@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-oxanium: "Oxanium", sans-serif;
}

@theme{

      /* Colors */
  ----color-blue-100: #6F6DE2;
  ----color-purple: #9871F3;
  ----color-danger: #f05d6c;

  ----color-gray-100: #DAE4F2;
  ----color-gray-200: #C8D0DA;
  ----color-gray-300: #85A1B1;
  ----color-gray-400: #6F7D90;
  ----color-gray-500: #2A313C;
  ----color-gray-600: #21252C;
  ----color-gray-700: #191D24;
  ----color-gray-800: #13161B;
  ----color-gray-900: #0F1216;

  /* Font */
  
--font-heading: var(--font-oxanium);
    
--font-sans: var(--font-montserrat);
    
--radius-xl: 0.625rem;

}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {

}
